#dropdown1 li> a,.dropdown-content li>a, .dropdown-content li>span{
    color: #f56f30
}
i{
    font-style: italic;
    vertical-align: middle;
}
.main{
    position: absolute;
    left:0;
    right:0;
    top:0;
    bottom:0;
}
.contain{
    position: absolute;
    width: 100%;
}
.col ul li a:hover{color:orange}
#user-item img{border: 1px solid #eee}
.circle-img{
    width: 145px;
    height: 145px;
    margin: auto;
    border-radius: 50%;
    border: 10px solid #ececec;
    margin-bottom: 20px;
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}
.circle-img:hover{
    border:10px solid crimson;
}
.circle-img i{
    width: 100%;
    height: 100%;
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: block;
}
.yk-bt {
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid crimson;
}

.circle-img i{
    font-size: 5em;
    color: gray;
    text-align: center;
    line-height: 120px;
}
.circle-img i:hover{
    color: black;
}
